.App {
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 100px;
}

.bg-color {
  background-color: #2026d2;
}
.h {
  background-color: #171717;
}

.Header-text {
  font-size: 1.7em;
}

.quote-header {
  size: 10px;
  font-size: 1.5em;
  text-align: center;
}
.container-quote {
  height: 40%;
  width: 100%;
  padding-bottom: 2.5%;
}

@media screen and (max-width: 800px) {
  .App {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-quote {
    height: 48%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
